<%- include('template/cabecera', {tituloWeb: 'detalles equipo' }) %>
    <%- include('template/navbar') %>
        <% if (!error) { %>
            <div class="container">
                <h1>Añadir nuevo equipo</h1>
                <form id="editar" action="editar" class="my-2" data-id="<%= equipo.id %>">
                    <input type="text" placeholder="nombre equipo" class="form-control my-2" name="nombre" value="<%= equipo.nombre %> ">
                    <button type="submit" class="btn btn-dark btn-block">
                        editar equipo
                    </button>
                </form>
            </div>
            <hr>
            <button class="btn btn-danger btn-sm" data-id="<%= equipo.id %>">
                Eliminar equipo
            </button>
            <% } %>
                <%- include('template/footer') %>
                    <script>
                        const btnEliminar = document.querySelector('.btn-danger');
                        btnEliminar.addEventListener('click', async () => {
                            console.log(btnEliminar.dataset.id)
                            try {
                                // https://developer.mozilla.org/es/docs/Web/API/HTMLElement/dataset
                                const data = await fetch(`/equipos/${btnEliminar.dataset.id}`, {
                                    method: 'delete'
                                })
                                const res = await data.json()
                                console.log(res)
                                if (res.estado) {
                                    window.location.href = '/equipos'
                                } else {
                                    console.log(res)
                                }
                            } catch (error) {
                                console.log(error)
                            }
                        });
                        const formEditar = document.querySelector('#editar');
                        formEditar.addEventListener('submit', async (e) => {
                            e.preventDefault()
                            const nombre = formEditar.elements['nombre'].value
                            const id = formEditar.dataset.id
                            const data = await fetch(`/equipos/${id}`, {
                                method: 'PUT',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ nombre })
                            })
                            const res = await data.json()
                            if (res.estado) {
                                window.location.href = '/equipos'
                            } else {
                                console.log(res)
                            }
                        })
                    </script>